<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCPxLDqrYQO8tjyeEbZOWeKkPoa3unbzYA</string>
	<key>GCM_SENDER_ID</key>
	<string>98144504069</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.lojadecupcakes</string>
	<key>PROJECT_ID</key>
	<string>loja-de-cupcakes-q1o42a</string>
	<key>STORAGE_BUCKET</key>
	<string>loja-de-cupcakes-q1o42a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98144504069:ios:1cf11c3051100523034f6c</string>
</dict>
</plist>